.form{
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 30px;
    .inp{
        margin-top: 7px;
    }
    .addbtn{
        margin-top: 10px;
    }
}
.table{
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 30px;
}