@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Oswald:wght@200&family=Quicksand&display=swap');
.mySwiper{
    position: relative;
    img{
        position: relative;
    }
    .text{
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        
        p{
            font-family: "Quicksand", sans-serif;
            font-size: 15px;
        }
        h2{
            font-family: "Libre Basketville";
            font-size: 45px;
        }
        button{
            font-family: "Quicksand", sans-serif;
            font-size: 18px;
            background-color: #F45D96;
            border: none;
            padding: 15px 25px;
            border-radius: 30px;
            color: white;
            font-weight: bolder;
        }
    }
}